.container {
  text-align: center; 
  margin: -7px;
}

.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../img/starbucks3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 1px;  
  
 
}

.main-title {
  color: white;
  font-size: 40px;
  margin-top: 150px;
  padding-left: 20px;
}

.content {
  color: white;
  font-family: 'Permanent Marker', cursive;
}
.content span {
  color: white; 
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Kanit', sans-serif;
}

.main-button {
  position: relative; /*내 원래 위치를 기준으로 이동해라 //relative  float처럼 공중에 뜸*/
  top: 100px;
  right: 50px;
  padding: 15px;
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.menu-button a {
  text-decoration: none;
  color: white; 
  font-size: 16px;  
}